In [1]:
import json
import numpy as np
import pandas as pd

In [2]:
def load_json_df(file):
    data_file = open(f"data/{file}.json", encoding= 'utf8')
    data = []
    for line in data_file:
        data.append(json.loads(line))
    data_file.close()
    df = pd.DataFrame(data)
    return df

In [3]:
business = load_json_df('business')

In [4]:
user = load_json_df('user')

In [5]:
review = load_json_df('review')

In [6]:
print('\nBusinesses\n')
display(business.head(3))
print('\nUsers\n')
display(user.head(3))
print('\nReviews\n')
display(review.head(3))

Businesses

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."

Users

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18

Reviews

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30

In [9]:
def generate_subsets():
    n_subset = [1000, 10000, 100000, 1000000, 2000000]
    for i in range(len(n_subset)):
        reviews = review.iloc[:n_subset[i]]
        users = user.loc[user.user_id.isin(reviews.user_id)].reset_index(drop = True)
        businesses = business.loc[business.business_id.isin(reviews.business_id)].reset_index(drop = True)
        
        reviews.to_json(f'sf_data/reviews_{i+1}.json', orient = 'records', lines = True)
        print(f'Reviews with SF {i+1} has been loaded')
        users.to_json(f'sf_data/users_{i+1}.json', orient = 'records', lines = True)
        print(f'Users with SF {i+1} has been loaded')
        businesses.to_json(f'sf_data/businesses_{i+1}.json', orient = 'records', lines = True)
        print(f'Businesses with SF {i+1} has been loaded\n')

In [10]:
generate_subsets()

Reviews with SF 1 has been loaded
Users with SF 1 has been loaded
Businesses with SF 1 has been loaded

Reviews with SF 2 has been loaded
Users with SF 2 has been loaded
Businesses with SF 2 has been loaded

Reviews with SF 3 has been loaded
Users with SF 3 has been loaded
Businesses with SF 3 has been loaded

Reviews with SF 4 has been loaded
Users with SF 4 has been loaded
Businesses with SF 4 has been loaded

Reviews with SF 5 has been loaded
Users with SF 5 has been loaded
Businesses with SF 5 has been loaded